/target
/dir-tests
*.txt
/src/core/secrets.rs
.todo
.tree

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/